$size: 50px;

ul li h2 {
  color: #369;
}

button.dropdown-toggle.dropdownButton {
  background: url(https://png.icons8.com/color/50/000000/administrator-male.png) no-repeat;
  height: $size - 15px;
  width: $size - 15px;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #4888A7;
  background-size: 100% 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  float: left;
}

a.logo {
  background: url(https://png.icons8.com/ios/50/000000/api-settings.png) no-repeat;
  height: $size;
  width: $size;
}

ul.dropdown-menu li a {
  &:hover {
    background-color: #00BAB8;
  }
  width: 100%;
}

ul.dropdown-menu:hover{
  background-color: #DBF7F6;
}

p.currentUser {
  float: left;
  margin-top: 20px;
  margin-left: 5px;
}
