<h1>
        Sign Up
        </h1>
        <div class="container-fluid">
            
            <form>
            <!-- Username -->
                <div class="row">
                <div class="top-label col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <label>Username: </label>
                </div>
                    <div class="top-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                        <input type="text" placeholder="Enter username...">
                    </div>
            </div>
            <br>
            <!-- Password -->
                <div class="row">
                <div class="top-label col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <label>Password: </label>
                  </div>
                    <div class="top-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                        <input type="password" placeholder="Enter password...">
                    </div>
            </div>
            <br>
            <!-- Re-Password -->
            <div class="row">
                    <div class="top-label col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                        <label>Re-password: </label>
                      </div>
                        <div class="top-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                            <input type="password" placeholder="Enter re-password...">
                        </div>
                </div>
                <br>
            <!-- Login -->
            <div id="bottom-container" class="row">
                <div class="top-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <input type="submit" value="Sign Up">
                </div>
            </div>
            <div id="bottom-container" class="row">
                    <div class="top-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                        <input type="submit" value="Login">
                    </div>
                </div>
            <br>
            </form>
            
        </div>