p button {
    font-size: 20px;
    color: #336699;
    border-radius: 10px;
    &:focus{
        outline: 0;
    }
}

ul li {
    color: #007ACC;
}
a {
    cursor: pointer;
}
.footer{
    position:fixed;
    bottom:0;
    left: 0;
    width:100%;
}