<h1>
  Sign Up
</h1>
<div class="container-fluid">

  <form #userRegistrationForm="ngForm" (ngSubmit)="createUser(userRegistrationForm)">
    <!-- Username -->
    <div class="input-field row">
      <div class=" col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 padding-none">
        <label>Username: </label>
        <input class="inputField" type="text" #userName="ngModel" [(ngModel)]="user.username" name="username" placeholder="Enter username..."
          required>
      </div>
    </div>
    <br>
    <!-- Password -->
    <div class="input-field row">
      <div class=" col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 padding-none">
        <label>Password: </label>
        <input class="inputField" type="password" #password="ngModel" [(ngModel)]="user.password" name="password" placeholder="Enter password..."
          required>
      </div>
    </div>
    <br>
    <!-- Re-Password -->
    <div class="input-field row">
      <div class=" col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 padding-none">
        <label>Confirm-password: </label>
        <input class="inputField" #password="ngModel" ngModel name="password" type="password" placeholder="Enter re-password..."
          name="repassword" required>
      </div>
    </div>
    <br>
    <!-- Login -->
    <div id="bottom-container" class="row">
      <div class="top-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 padding-none">
        <input [disabled]="!userRegistrationForm.valid" type="submit" value="Submit">
      </div>
    </div>
    <div id="bottom-container" class="row">
      <div class="top-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 padding-none">
        <input routerLink="/login" type="submit" value="Login">
      </div>
    </div>
    <br>
  </form>

</div>