<div class="container">
	<div class="left">
		<div class="left-content">
			<a routerLink="login">
				<img src="https://png.icons8.com/ios/50/000000/api-settings.png">
			</a>
		</div>
		<div class="right-content">
			<h1>
				Generate Rest API
			</h1>
		</div>
	</div>
	<div class="right col-lg-3 col-md-4 col-sm-3">
		<div class="dropdown">
			<button class="dropdown-toggle dropdownButton" type="button" data-toggle="dropdown">
				<img src="https://png.icons8.com/color/50/000000/administrator-male.png" alt="user">
			</button>
			<ul class="dropdown-menu widthBox">
				<li>
					<a routerLink="login">Logout</a>
				</li>
				<li>
					<a href="#">My Information</a>
				</li>
			</ul>
		</div>
	</div>
</div>