$size: 50px;


ul li h2{
    color: #369;
}

button.dropdown-toggle.dropdownButton{
    background: url(https://png.icons8.com/color/50/000000/administrator-male.png) no-repeat;
    height: $size;
    width: $size;
    border-radius: 50%;
    vertical-align: middle;
    background-color: #4888A7;
}
a.logo{
    background: url(https://png.icons8.com/ios/50/000000/api-settings.png) no-repeat;
    height: $size;
    width: $size;
}

ul.dropdown-menu li a{
    &:hover{
        background-color: #87C540;
    }
}
