/* You can add global styles to this file, and also import other style files */
$marginTop: 5px;
$paddingFormat: 10px 10px 10px 10px;
$wordsFormat: 17px;
$backgroundColor: #4CAF50;
$borderColor: 1px solid grey;

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container-fluid {
  position: relative;
}

input {
  border: none;
  width: 100%;
}

.inputField {
  border: $borderColor;
  font-size: $wordsFormat;
  padding: $paddingFormat;
  margin-top: $marginTop;
  border-radius: 10px;

  &:focus {
    outline: 0;
    border: 2px solid dodgerblue;
  }

}

.top-container {
  border: $borderColor;
  font-size: $wordsFormat;
  padding: $paddingFormat;
  margin-top: $marginTop;
  border-radius: 10px;

  &:focus {
    outline: 0;
  }

}

.padding-none {
  padding-left: 0;
  padding-right: 0;
}

.top-label {
  margin-top: $marginTop;
  margin-bottom: 2px;
  font-size: $wordsFormat;
}

#bottom-container {
  text-align: center;
}

input[type=submit] {
  background-color: $backgroundColor;
  color: white;
  cursor: pointer;
}

#bottom-container .top-container {
  background-color: $backgroundColor;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $backgroundColor;
    border: none;
    opacity: 1;
    box-shadow: 2px 2px 2px 2px #45a049;
    cursor: pointer;
  }

}

.row .bottom {
  background-color: #666;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #666;
  cursor: none;
}

.bottom a {
  color: antiquewhite;
  font-size: $wordsFormat;
  cursor: hand;
}

body, input[text], button {
  color: #888;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

}

input[type=submit] {
  &:focus {
    outline: 0;
  }

}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;

  &:visited, &:link {
    color: #607D8B;
  }

  &:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }

  .active {
    color: #039be5;
  }

}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.loader span{
  font-family: Arial;
  font-size: 24px;
  color: black;
  display: inline-block;
  transition: all .10s;
  animation: animate 3s infinite ;
}

.loader span:nth-child(1)
{
  animation-delay: .1s;
}
.loader span:nth-child(2)
{
  animation-delay: .2s;
}
.loader span:nth-child(3)
{
  animation-delay: .3s;
}
.loader span:nth-child(4)
{
  animation-delay: .4s;
}
.loader span:nth-child(5)
{
  animation-delay: .5s;
}
.loader span:nth-child(6)
{
  animation-delay: .6s;
}
.loader span:nth-child(7)
{
  animation-delay: .7s;
}
.loader span:nth-child(8)
{
  animation-delay: .8s;
}
.loader span:nth-child(9)
{
  animation-delay: .9s;
}
@keyframes animate{
  0%{
    color: rgba(255,255,255,.1);
    transform: translateY(0);
    margin-left: 0;
  }
  25%{
    color: rgba(255,255,255,.1);
    transform: translateY(-15px);
    margin-left: 10px;
    text-shadow: 0 15px 5px rgba(0,0,0, 1);
  }
  100%{
    color: rgba(255,255,255,.1);
    transform: translateY(0);
    margin-left: 0;
  }
}
   