/* You can add global styles to this file, and also import other style files */
$marginTop: 5px;
$paddingFormat: 10px 10px 10px 10px;
$wordsFormat: 17px;
$backgroundColor: #4CAF50;
$borderColor: 1px solid grey;

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.container-fluid {
  position: relative;
}

input {
  border: none;
  width: 100%;
}

.inputField {
  border: $borderColor;
  font-size: $wordsFormat;
  padding: $paddingFormat;
  margin-top: $marginTop;
  border-radius: 10px;

  &:focus {
    outline: 0;
    border: 2px solid dodgerblue;
  }

}

.top-container {
  border: $borderColor;
  font-size: $wordsFormat;
  padding: $paddingFormat;
  margin-top: $marginTop;
  border-radius: 10px;

  &:focus {
    outline: 0;
  }

}

.padding-none {
  padding-left: 0;
  padding-right: 0;
}

.top-label {
  margin-top: $marginTop;
  margin-bottom: 2px;
  font-size: $wordsFormat;
}

#bottom-container {
  text-align: center;
}

input[type=submit] {
  background-color: $backgroundColor;
  color: white;
  cursor: pointer;
}

#bottom-container .top-container {
  background-color: $backgroundColor;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $backgroundColor;
    border: none;
    opacity: 1;
    box-shadow: 2px 2px 2px 2px #45a049;
    cursor: pointer;
  }

}

.row .bottom {
  background-color: #666;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  box-shadow: 1px 1px 1px 1px #666;
  cursor: none;
}

.bottom a {
  color: antiquewhite;
  font-size: $wordsFormat;
  cursor: hand;
}

body, input[text], button {
  color: #888;
}

a {
  cursor: pointer;
  cursor: hand;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }

}

input[type=submit] {
  &:focus {
    outline: 0;
  }

}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;

  &:visited, &:link {
    color: #607D8B;
  }

  &:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }

  .active {
    color: #039be5;
  }

}

      .box {
        background: lightblue;
        border: 1px solid #333;
        padding: 1em;
        margin: 1em;
      }
      
      .root { background: lightblue; }
      
      .child {
        background: #628692;
      }
      
      button {
          margin-top: 30px;
      }
      
      my-fader div {
        padding : 25px;
        background-color: #fdda8d;
      }
      
      .copyright {
        color:#bebebe; 
        padding-top:40px;
      }     
      
